<p>Hello {{name}},</p>
<p>Your FDAware password was just changed. If you did not perform this action, please contact support immediately.</p>
<p>Thank you,<br/>The FDAware Team</p>
<p style="font-size:12px;color:#888;">&copy; {{year}} FDAware</p> 